@import '../../../../../sass';

.input-wrapper {
    position: relative;
    width: 100%;

    :is(input, label) {
        @include input-and-label;
        color: get-light-color(text-color);
    }

    input {
        @include input;
    }

    label {
        @include input-label;
    }

    :is(input:focus, input:valid) {
        border-color: get-light-color(active-color);
    }

    :is(input:focus, input:valid)~label {
        @include input-focus-and-valid-to-label;
    }

    :is(input:focus, input:valid)~label {
        @include input-focus-and-valid-to-label;
    }

}