asgiref==3.8.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
betterpath==0.2.2
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
constantly==23.10.4
cryptography==43.0.3
daphne==4.1.2
dj-rest-auth==6.0.0
Django==5.0.7
django-allauth==64.0.0
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
hyperlink==21.0.0
idna==3.7
incremental==24.7.2
l==0.11.0
pillow==10.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
pyOpenSSL==24.2.1
python-decouple==3.8
pytz==2024.2
requests==2.32.3
service-identity==24.1.0
setuptools==72.1.0
sqlparse==0.5.1
Twisted==24.7.0
txaio==23.1.1
typing_extensions==4.12.2
urllib3==2.2.2
vcversioner==2.16.0.0
zope.interface==6.4.post2
