@import '../../../../sass';

.signin-from-page {
    @include inner-grid-2-2;
    @include flex-centre(column);
    min-height: $screen-height;

    .form {
        @include flex-centre(column);
        padding: em(16);
        border-radius: em(16);
        /* background-color: $background-light; */
        z-index: 1;
        width: 100%;
        min-width: 0;
        max-width: em(400);
        row-gap: em(16);

        .title {
            text-align: center;
            margin-block: em(8);
            text-transform: lowercase;

            &::first-letter {
                text-transform: capitalize
            }
        }
        
        .forgot-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-items: center;
            
            .forgot-link {
                max-width: fit-content;
            }
        }
        
        .account-verify-cntainer {
            width: 100%;
            display: flex;
            column-gap: em(8);
            align-items: center;
            
            .error-text-container {
                flex: 2;
            }
            .link {
                flex: 1;
            }
            
        }

        .signup-text {
            letter-spacing: 0.05em;
            text-align: center;
            opacity: $opacity;

            &::first-letter {
                text-transform: capitalize;
            }

            a {
                text-wrap: nowrap;
                white-space: nowrap;
                text-decoration: none;
                opacity: $opacity;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .buttons {
        width: 100%;
        max-width: em(400);
        display: flex;
        align-items: center;
        column-gap: em(8);
    }
}
