.grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}


@media (width <=769px) {
    .grid-wrapper {
        grid-template-columns: 18px 1fr 18px;
    }
}


.grid-element-full {
    grid-column: 1/-1;
    width: 100%;
}


.grid-element-center {
    grid-column: 2/-2;
    width: 100%;
    transition: all 0.3s ease-in-out;
}


/* Header Container Styles  */
.header-container {
    background-color: var(--header-background);
    box-shadow: 0 0.5px 2px #0000003d;
}


/* Main Content section styles  */
.main-content-container {
    background-color: transparent;
}


/* Footer Container Styles  */
.footer-container {
    background-color: var(--footer-background);
}