@import '../../sass';

.search-services-page {
    min-height: $screen-height;

    .search-bar-section {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: em(8);

        .link-as-icon {
            background-color: $card-background;

            &:hover {
                background-color: $border-color-light;
            }
        }
    }
}
