@import '../../../sass';

.popover-wrapper {
    background-color: $card-background;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: unset;
    left: auto;
    width: 100%;
    max-width: 225px;
    height: fit-content;
    border-radius: em(16);
    overflow: hidden;
    border: $border;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
    transition: all 0.3s ease;
    margin-top: em(8);

    .inner-wrapper {
        @include flex-centre(column);
        padding-block: em(10);

        .user-info {
            width: 100%;
            padding-inline: em(16);
            display: flex;
            align-items: center;
            column-gap: em(4);
            padding-bottom: em(8);

            .figure-container {
                background-color: $text-primary;
                height: em(40);
                width: em(40);
                min-width: em(40);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: em(40);
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .username,
            .email {
                text-transform: lowercase;

                &::first-letter {
                    text-transform: lowercase;
                }
            }
        }

        .line {
            width: 100%;
            border-bottom: $border;
        }

        .link,
        .button {
            justify-content: flex-start;
            border-radius: 0;
            background-color: transparent;

            &:hover {
                background-color: $button-primary-hover;
            }
        }
    }
}
