.grid-12 {
    display: grid;
    grid-template-columns: rem(25) repeat(10, 1fr) rem(25);
}

.inner-grid-1-1 {
    grid-column: 1/-1;
    width: 100%;
    min-height: calc(100vh - #{$header-height} - 40px);
}

.inner-grid-2-2 {
    grid-column: 2/-2;
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - #{$header-height} - 40px);
}

.inner-fit-grid-1-1 {
    @extend .inner-grid-1-1;
    min-height: unset;
}

.inner-fit-grid-2-2 {
    @extend .inner-grid-2-2;
    min-height: unset;
}


@mixin grid-12 {
    @extend .grid-12;
}

@mixin inner-grid-1-1 {
    @extend .inner-grid-1-1;
}

@mixin inner-grid-2-2 {
    @extend .inner-grid-2-2;
}

@mixin inner-fit-grid-1-1 {
    @extend .inner-grid-1-1;
    min-height: unset;
}

@mixin inner-fit-grid-2-2 {
    @extend .inner-grid-2-2;
    min-height: unset;
}