*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

body {
    height: fit-content;
    width: 100%;
    display: grid;
    background-color: #181818;
    color: #fff;
    grid-template-columns: 40px repeat(12, 1fr) 40px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    overflow-y: auto;
}

main {
    grid-column: 2/-2;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 350px;
    overflow: hidden;
}

.logo-container img {
    width: inherit;
    height: inherit;
    background-size: contain;
    background-position: center;
    animation: rotateInfinitely 2s infinite;
}

@keyframes rotateInfinitely {
    0% {
        transform: rotate(22.5deg);
    }

    50% {
        transform: rotate(-22.5deg);
    }

    100% {
        transform: rotate(22.5deg);
    }
}

h1 {
    padding-block: 16px;
    letter-spacing: 0.04em;
    text-align: center;
    max-width: 550px;
}

p {
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    max-width: 450px;
}

.admin-link {
    text-decoration: none;
    background-color: #003120;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 600;
    text-transform: capitalize;
    height: 40px;
    width: 100%;
    max-width: 250px;
    padding-inline: 16px;
    border-radius: 999rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: default;
    margin-block: 16px;
    transition: background-color 0.3s ease-in-out;
}

.admin-link:hover {
    background-color: #002719;
}

@media (pointer: fine) {
    .admin-link {
        cursor: pointer;
    }
}