@import '../../../../sass';

.login-form {
    @include grid-12;

    .login-element {
        @include grid-2-2;
        @include flex-centre(column);
        width: 100%;
        // height: fit-content;
        // min-height: 100vh;
        user-select: none;

        .action-elements {
            @include flex-centre(column);
            padding: 16px;
            border-radius: 8px;
            background-color: $background-light;
            z-index: 1;
            width: 100%;
            min-width: 0;
            max-width: 300px;
            row-gap: 16px;

            .title {
                text-transform: capitalize;
                text-align: center;
            }

            .forgot-password {
                letter-spacing: 0.05em;
                text-decoration: none;
                text-align: end;
                width: 100%;
                opacity: $opacity;
                transition: opacity 0.3s ease-in-out;

                &::first-letter {
                    text-transform: capitalize;
                }

                &:hover {
                    opacity: $opacity;
                }
            }

            .login-btn {
                @include button-wrapper;
            }

            .signup-text {
                letter-spacing: 0.05em;
                text-align: center;
                opacity: $opacity;

                &::first-letter {
                    text-transform: capitalize;
                }

                a {
                    text-wrap: nowrap;
                    white-space: nowrap;
                    text-decoration: none;
                    opacity: $opacity;
                    transition: opacity 0.3s ease-in-out;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}