@import "../../../../sass";

.inner-grid {
    @include inner-grid-2-2;
    @include flex-centre(column);
    padding-block: em(64);
    row-gap: rem(16);

    .title {
        text-transform: capitalize;
        text-align: center;
        margin-block: em(16);
    }

    p {
        text-align: center
    }

    .button {
        max-width: fit-content;
    }
}