@import "../../../../sass";

.inner-grid {
    @include inner-grid-2-2;
    @include flex-centre(column);
    padding-block: em(64);
    row-gap: rem(16);
    min-height: $screen-height;

    .title {
        text-align: center;
        margin-block: em(8);
        text-transform: lowercase;

        &::first-letter {
            text-transform: capitalize
        }
    }

    p {
        text-align: center
    }

    .button {
        max-width: fit-content;
    }
}