@import '../../../../sass';

.re-verification-from {
    @include inner-grid-2-2;
    @include flex-centre(column);
    width: 100%;

    .inputes-container {
        @include flex-centre(column);
        padding: 16px;
        border-radius: 8px;
        background-color: $background-light;
        z-index: 1;
        width: 100%;
        min-width: 0;
        max-width: 300px;
        row-gap: 16px;

        .title {
            text-transform: capitalize;
            text-align: center;
            margin-block: em(16);
        }

        .account-verify-cntainer {
            @include flex-centre;
            column-gap: 8px;
            justify-content: space-between;
            width: 100%;

            h5 {
                color: $error-text-primary;
            }

            a {
                color: $text-accent;
            }
        }

        .forgot-password {
            letter-spacing: 0.05em;
            text-decoration: none;
            text-align: end;
            width: 100%;
            opacity: $opacity;
            transition: opacity 0.3s ease-in-out;

            &::first-letter {
                text-transform: capitalize;
            }

            &:hover {
                opacity: $opacity;
            }
        }

        .signup-text {
            letter-spacing: 0.05em;
            text-align: center;
            opacity: $opacity;

            &::first-letter {
                text-transform: capitalize;
            }

            a {
                text-wrap: nowrap;
                white-space: nowrap;
                text-decoration: none;
                opacity: $opacity;
                transition: opacity 0.3s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}