.login-form {
    --background-color: transparent;
    --label-background-color: #fff;
    --border-color: #dddddd90;
    --focus-valid-color: #184b00;
}

.login-element {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.login-element .action-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--background-color);
    z-index: 1;
    width: 100%;
    min-width: 250px;
    max-width: 300px;
    row-gap: 16px;
}

/* Email element styles */
.login-element .email-element {
    position: relative;
    width: 100%;
}

.email-element :is(input, label) {
    font-size: 16px;
    letter-spacing: 0.05em;
    background-color: transparent;
}

.email-element input {
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    z-index: 1;
}

.email-element label {
    text-transform: capitalize;
    padding-inline: 8px;
    margin-left: 8px;
    position: absolute;
    top: 10px;
    right: auto;
    bottom: unset;
    left: 0;
    opacity: 0.5;
    z-index: -1;
    border-radius: 999rem;
    cursor: text;
    transition: all 0.3s ease;
}

.email-element :is(input:focus, input:valid) {
    border-color: var(--focus-valid-color);
}

.email-element :is(input:focus, input:valid)~label {
    font-size: 14px;
    color: var(--focus-valid-color);
    top: -8px;
    background-color: var(--label-background-color);
    opacity: 1;
    z-index: inherit;
}

/* Password element styles */
.login-element .password-element {
    position: relative;
    width: 100%;
}

.password-element :is(input, label) {
    font-size: 16px;
    letter-spacing: 0.05em;
    background-color: transparent;
}

.password-element input {
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    z-index: 1;
}

.password-element label {
    text-transform: capitalize;
    padding-inline: 8px;
    margin-left: 8px;
    position: absolute;
    top: 10px;
    right: auto;
    bottom: unset;
    left: 0;
    opacity: 0.5;
    z-index: -1;
    border-radius: 999rem;
    cursor: text;
    transition: all 0.3s ease;
}

.password-element :is(input:focus, input:valid) {
    border-color: var(--focus-valid-color);
}

.password-element :is(input:focus, input:valid)~label {
    font-size: 14px;
    color: var(--focus-valid-color);
    top: -8px;
    background-color: var(--label-background-color);
    opacity: 1;
    z-index: inherit;
}

.login-btn {
    font-size: 16px;
    letter-spacing: 0.05em;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;

    &:hover {
        background-color: var(--border-color);
    }
}