.button {
    border: none;
    outline: none;
    border-radius: 999rem;
    background-color: $button-primary-background;
    color: $text-primary;
    height: em(40);
    width: 100%;
    padding-block: em(16);
    padding-inline: em(16);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: em(4);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $button-primary-hover;
    }

    .icon {
        aspect-ratio: 1/1;
        height: em(24);
        width: em(24);
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;

        span {
            height: inherit;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .label {
        font-size: em(16);
        font-weight: 600;
        height: em(24);
        display: flex;
        align-items: center;
        text-transform: capitalize;
    }
}

.a,
.link {
    text-decoration: none;
    border-radius: 999rem;
    background-color: $button-primary-background;
    color: $text-primary;
    height: em(40);
    width: 100%;
    padding-block: em(16);
    padding-inline: em(16);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: em(4);
    cursor: default;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $button-primary-hover;
    }

    .icon {
        aspect-ratio: 1/1;
        height: em(24);
        width: em(24);
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        overflow: hidden;

        span {
            height: inherit;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .label {
        font-size: em(16);
        font-weight: 600;
        height: em(24);
        display: flex;
        align-items: center;
        color: inherit;
        text-transform: capitalize;
    }
}

@media (pointer: fine) {

    button,
    .button {
        cursor: pointer;
    }

    button:disabled,
    .button:disabled {
        cursor: not-allowed;
    }

    a,
    .a,
    link {
        cursor: pointer;
    }
}