@mixin flex-centre($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin input-and-label {
    font-size: rem(14);
    letter-spacing: 0.05em;
    background-color: transparent;
    color: get-light-color(text-color);
}

@mixin input {
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: 2px solid get-light-color(border-color);
    border-radius: 8px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

@mixin input-label {
    text-transform: capitalize;
    padding-inline: 8px;
    margin-left: 8px;
    position: absolute;
    top: 10px;
    right: auto;
    bottom: unset;
    left: 0;
    opacity: $opacity;
    z-index: -1;
    border-radius: 999rem;
    cursor: text;
    transition: all 0.3s ease;
}

@mixin input-focus-and-valid-to-label {
    font-size: rem(14);
    color: get-light-color(active-color);
    top: -8px;
    background-color: get-light-color(background-color);
    opacity: 1;
    z-index: inherit;
}