@mixin flex-centre($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: em(4);
    font-size: rem(16);
    letter-spacing: 0.05em;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid $border-color-light;
    cursor: pointer;
    background-color: $button-primary-background;
    color: $text-primary;
    width: 100%;
    text-transform: capitalize;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out;

    &:hover {
        background-color: $button-primary-hover;
    }
}

@mixin link-wrapper {
    @include flex-centre;
    overflow: hidden;

    a {
        padding: em(8) 0;
        transition: color 0.3s ease-in-out;
    }

    &:hover a {
        color: $link-hover-color;
    }
}

@mixin button-as-link-wrapper {
    @include flex-centre;
    overflow: hidden;
    cursor: pointer;

    button {
        padding: em(8) 0;
        border: none;
        background-color: transparent;
        cursor: inherit;
        transition: color 0.3s ease-in-out;
    }

    &:hover button {
        color: $button-primary-hover;
    }
}

@mixin input-and-label {
    font-size: rem(14);
    letter-spacing: 0.05em;
    background-color: transparent;
    color: $text-primary;
}

@mixin input {
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: 2px solid $border-color-light;
    border-radius: 8px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

@mixin input-label {
    text-transform: capitalize;
    padding-inline: 8px;
    margin-left: 8px;
    position: absolute;
    top: 10px;
    right: auto;
    bottom: unset;
    left: 0;
    opacity: $opacity;
    z-index: -1;
    border-radius: 999rem;
    cursor: text;
    transition: all 0.3s ease;
}

@mixin input-focus-and-valid-to-label {
    font-size: rem(14);
    color: $button-primary-hover;
    top: -8px;
    background-color: $background-light;
    opacity: 1;
    z-index: inherit;
}