/* Default (Light Mode) */
:root {
    --primary-color: #4CAF50;
    --primary-light: #66BB6A;
    --primary-dark: #388E3C;

    --secondary-color: #2196F3;
    --secondary-light: #64B5F6;
    --secondary-dark: #1976D2;

    --background-light: #FAFAFA;
    --background-dark: #212121;
    --card-background: #FFFFFF;
    // --header-background: #212121;
    --header-background: #FAFAFA;
    --footer-background: #455A64;

    --text-primary: #212121;
    --text-secondary: #757575;
    --text-light: #FFFFFF;
    --text-accent: #FF5722;

    --error-text-primary: #850000;

    --border-color-light: #E0E0E0;
    --border-color-dark: #424242;

    --button-primary-background: var(--primary-color);
    --button-primary-hover: var(--primary-light);
    --button-secondary-background: var(--secondary-color);
    --button-secondary-hover: var(--secondary-light);
    --button-text-color: var(--text-light);

    --scrollbar-thumb: #BDBDBD;
    --scrollbar-track: #E0E0E0;
    --link-color: #3392e6;
    --link-hover-color: #2c70be;
}

/* Dark Mode */
[data-theme="dark"] {
    --primary-color: #66BB6A;
    --primary-light: #81C784;
    --primary-dark: #4CAF50;

    --secondary-color: #64B5F6;
    --secondary-light: #90CAF9;
    --secondary-dark: #2196F3;

    --background-light: #212121;
    --background-dark: #121212;
    --card-background: #2C2C2C;
    // --header-background: #1E1E1E;
    --header-background: #212121;
    --footer-background: #2A2A2A;

    --text-primary: #E0E0E0;
    --text-secondary: #BDBDBD;
    --text-light: #FFFFFF;
    --text-accent: #FF7043;

    --error-text-primary: #c50000;

    --border-color-light: #424242;
    --border-color-dark: #616161;

    --button-primary-background: var(--primary-color);
    --button-primary-hover: var(--primary-dark);
    --button-secondary-background: var(--secondary-color);
    --button-secondary-hover: var(--secondary-dark);
    --button-text-color: var(--text-light);

    --scrollbar-thumb: #757575;
    --scrollbar-track: #424242;
    --link-color: #90CAF9;
    --link-hover-color: #64B5F6;
}