// Define a css color variables.
:root {
    --active-color: #2c8a00e8;
    --background-color: #fff;
    --border-color: #dddddd90;
    --hover-color: #dddddd;
    --text-color: #0e141a;
    --error-color: #bb0000;
    --header-background-color: #ddddddf2;
    --button-background-color: #dddddd90;
    --button-hover-color: #dddddd80;
}

[data-theme='dark'] {
    --background-color: #0e141a;
    --text-color: #fff;
    --header-background-color: #1a242ef2;
}

// Conver css color to sass variables for simple useing.
$active-color: var(--active-color);
$background-color: var(--background-color);
$border-color: var(--border-color);
$hover-color: var(--hover-color);
$text-color: var(--text-color);
$error-color: var(--error-color);
$header-background-color: var(--header-background-color);
$button-background-color: var(--button-background-color);
$button-hover-color: var(--button-hover-color);

// Define the opacity.
$opacity: 1;