.button {
    border: none;
    outline: none;
    border-radius: 999rem;
    background-color: $button-primary-background;
    color: $button-text-color;
    height: em(40);
    width: 100%;
    min-width: em(40);
    padding-block: em(16);
    padding-inline: em(16);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: em(4);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $button-primary-hover;
    }

    .icon {
        aspect-ratio: 1/1;
        height: em(24);
        width: em(24);
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        overflow: hidden;

        span,
        svg {
            height: inherit;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
    }

    .label {
        font-size: em(16);
        font-weight: 600;
        line-height: em(24);
        white-space: nowrap;
        text-wrap: nowrap;
        text-transform: lowercase;

        &::first-letter {
            text-transform: capitalize;
        }

        span,
        svg {
            vertical-align: middle;
        }
    }
}

.button-as-icon {
    @extend .button;
    width: em(40);
    padding-inline: 0;
}

.link {
    text-decoration: none;
    border-radius: 999rem;
    background-color: $button-primary-background;
    color: $button-text-color;
    height: em(40);
    width: 100%;
    min-width: em(40);
    padding-block: em(16);
    padding-inline: em(16);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: em(4);
    cursor: default;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $button-primary-hover;
    }

    .icon {
        aspect-ratio: 1/1;
        height: em(24);
        width: em(24);
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        overflow: hidden;

        span,
        svg {
            height: inherit;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
    }

    .label {
        font-size: em(16);
        font-weight: 600;
        line-height: em(24);
        color: inherit;
        white-space: nowrap;
        text-wrap: nowrap;
        text-transform: lowercase;

        &::first-letter {
            text-transform: capitalize;
        }

        span,
        svg {
            vertical-align: middle;
        }
    }
}

.link-as-icon {
    @extend .link;
    width: em(40);
    padding-inline: 0;
}

@media (pointer: fine) {

    .button,
    .button-1-1 {
        cursor: pointer;
    }

    .button:disabled,
    .button-as-icon:disabled {
        cursor: not-allowed;
    }

    .link,
    .link-as-icon {
        cursor: pointer;
    }
}

.succeeded-img {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 350px;
    overflow: hidden;

    img {
        width: inherit;
        height: inherit;
        background-size: contain;
        background-position: center;
    }
}

.succeeded-info {
    width: 100%;
    max-width: 350px;
    overflow: hidden;

    .title {
        text-align: center;
        margin-block: em(8);
        text-transform: lowercase;

        &::first-letter {
            text-transform: capitalize
        }
    }
    
    .message {
        text-align: center;
        margin-bottom: em(8);
        
        &:last-child {
            margin-bottom: em(16);
        }
    }
}

.error-text {
    text-align: stat;
    color: $error-text-primary;
    text-transform: lowercase;

    &::first-letter {
        text-transform: capitalize
    }
}