@mixin flex-centre($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin pointer($pointer: fine) {
    @media (pointer: $pointer) {
        @content;
    }
}