// Convert those css variables to sass variables.
$primary-color: var(--primary-color);
$primary-light: var(--primary-light);
$primary-dark: var(--primary-dark);

$secondary-color: var(--secondary-color);
$secondary-light: var(--secondary-light);
$secondary-dark: var(--secondary-dark);

$background-light: var(--background-light);
$background-dark: var(--background-dark);
$card-background: var(--card-background);
$header-background: var(--header-background);
$footer-background: var(--footer-background);

$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-light: var(--text-light);
$text-accent: var(--text-accent);

$error-text-primary: var(--error-text-primary);

$border-color-light: var(--border-color-light);
$border-color-dark: var(--border-color-dark);

$button-primary-background: var(--primary-color);
$button-primary-hover: var(--primary-light);
$button-secondary-background: var(--secondary-color);
$button-secondary-hover: var(--secondary-light);
$button-text-color: var(--button-text-color);

$scrollbar-thumb: var(--scrollbar-thumb);
$scrollbar-track: var(--scrollbar-track);
$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);

// Define the opacity.
$opacity: 1;

// Box shadow
$box-shadow : 0 0 2px #0000004d;


// Define a header height.
$header-height: em(64)