@import '../../../../sass';

.signup-form {
    @include inner-grid-2-2;
    @include flex-centre(column);
    min-height: $screen-height;

    .inputes-container {
        @include flex-centre(column);
        padding: 16px;
        border-radius: 8px;
        background-color: $background-light;
        z-index: 1;
        width: 100%;
        min-width: 0px;
        max-width: 300px;
        row-gap: 16px;

        .title {
            text-align: center;
            margin-block: em(8);
            text-transform: lowercase;

            &::first-letter {
                text-transform: capitalize
            }
        }

        .error-detail-text {
            color: $error-text-primary;
        }

        .login-text {
            letter-spacing: 0.05em;
            text-align: center;
            opacity: $opacity;

            &::first-letter {
                text-transform: capitalize;
            }

            a {
                text-wrap: nowrap;
                white-space: nowrap;
                text-decoration: none;
                opacity: $opacity;
                transition: opacity 0.3s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }
        }

    }
}