@import '../../../sass';

.theme-button-wrapper {
    @include flex-centre;
    overflow: hidden;
    border-radius: 999rem;
    aspect-ratio: 1/1;
    cursor: pointer;

    .theme-button {
        @include flex-centre;
        background-color: inherit;
        cursor: inherit;
        height: em(32);
        width: em(32);
        border-radius: 999rem;
        background-color: transparent;

        img {
            width: em(24);
            height: em(24);
            object-fit: contain;
            object-position: center;
        }
    }
}
