@import '../../../sass';

.theme-button-wrapper {
    @include flex-centre;
    overflow: hidden;
    border-radius: 999rem;
    aspect-ratio: 1/1;
    height: em(30);
    width: em(30);
    cursor: pointer;

    .theme-button {
        @include flex-centre;
        background-color: inherit;
        cursor: inherit;
        height: em(24);
        width: em(24);
        border-radius: 999rem;
        background-color: transparent;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}
