@import '../../../sass';

.theme-button-wrapper {
    @include flex-centre;
    overflow: hidden;
    border-radius: 999rem;
    aspect-ratio: 1/1;
    cursor: pointer;

    .button {
        background-color: $scrollbar-track;
        width: 40px;

        &:hover {
            background-color: $scrollbar-track;
        }
    }
}
