@import '../../../../sass';

.input-wrapper {
    @include flex-centre;
    position: relative;
    width: 100%;
    z-index: -1;
    border: $border;
    border-radius: 999rem;
    background-color: $card-background;
    transition: all 0.3s ease;

    :is(input, label) {
        font-size: rem(14);
        letter-spacing: 0.05em;
        background-color: transparent;
        color: $text-primary;
    }

    input {
        width: 100%;
        padding: em(14) em(8) em(14) em(22);
        outline: none;
        border-radius: 999rem;
        z-index: -1;
        transition: all 0.3s ease;
    }

    label {
        text-transform: capitalize;
        padding-inline: em(8);
        margin-left: em(13);
        position: absolute;
        top: calc(50% - rem(10));
        right: auto;
        bottom: unset;
        left: 0;
        opacity: $opacity;
        z-index: -1;
        border-radius: 999rem;
        cursor: text;
        color: $text-primary;
        transition: all 0.3s ease;
    }

    .input:focus~.label,
    .input:not(:placeholder-shown).input:not(:focus)~.label {
        font-size: rem(14);
        top: -11px;
        background-color: inherit;
        color: $text-accent;
        z-index: 1;
    }

    .viev-password {
        background-color: transparent;
    }
}
