@import '../../../../sass';

.input-wrapper {
    @include flex-centre;
    position: relative;
    width: 100%;
    z-index: -1;
    border: 1px solid $border-color-light;
    border-radius: 999rem;

    :is(input, label) {
        font-size: rem(14);
        letter-spacing: 0.05em;
        background-color: transparent;
        color: $text-primary;
    }

    input {
        width: 100%;
        padding: em(14) em(8) em(14) em(22);
        outline: none;
        border-radius: 999rem;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }

    label {
        text-transform: capitalize;
        padding-inline: em(8);
        margin-left: em(13);
        position: absolute;
        top: calc(50% - rem(10));
        right: auto;
        bottom: unset;
        left: 0;
        opacity: $opacity;
        z-index: -1;
        border-radius: 999rem;
        cursor: text;
        color: $text-primary;
        transition: all 0.3s ease-in-out;
    }

    .input:focus~.label,
    .input:not(:placeholder-shown).input:not(:focus)~.label {
        font-size: rem(14);
        top: -8px;
        background-color: $background-light;
        color: $text-secondary;
        z-index: 1;
    }

    .viev-password {
        @include flex-centre;
        aspect-ratio: 1/1;
        height: 100%;
        border-top-right-radius: em(20);
        border-bottom-right-radius: em(20);
        background-color: $background-light;
        overflow: hidden;

        @media (pointer: fine) { 
            & {
                cursor: pointer;
            }
        }

        .icon {
                aspect-ratio: 1/1;
                height: em(24);
                width: em(24);
                display: flex;
                align-items: center;
                justify-content: center;
                color: inherit;
        
                span {
                    height: inherit;
                    width: inherit;
                    @include flex-centre;
                }
            }
    }
}
