@import '../../../../sass';

.input-wrapper {
    position: relative;
    width: 100%;
    z-index: -1;

    :is(input, label) {
        font-size: rem(14);
        letter-spacing: 0.05em;
        background-color: transparent;
        color: $text-primary;
    }

    input {
        width: 100%;
        padding: 12px 16px;
        outline: none;
        border: 1px solid $border-color-light;
        border-radius: 999rem;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }

    label {
        text-transform: capitalize;
        padding-inline: 8px;
        margin-left: 10px;
        position: absolute;
        top: calc(50% - rem(10));
        right: auto;
        bottom: unset;
        left: 0;
        opacity: $opacity;
        z-index: -1;
        border-radius: 999rem;
        cursor: text;
        color: $text-primary;
        transition: all 0.3s ease-in-out;
    }

    .input:focus~.label,
    .input:not(:placeholder-shown).input:not(:focus)~.label {
        font-size: rem(14);
        top: -8px;
        background-color: $background-light;
        color: $text-secondary;
        z-index: 1;
    }
}
