@import '../../../sass/index.scss';

.header {
    @include grid-12;
    background-color: $header-background-color;
    padding-block: 8px;
    user-select: none;
    z-index: 9999;
    transition: all 0.3s ease-in-out;

    &-wrapper {
        @include grid-2-2;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        column-gap: 16px;

        .left-container {
            display: flex;
            align-items: center;
            column-gap: 16px;
        }

        .center-container {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 16px;
        }

        .right-container {
            display: flex;
            align-items: center;
            column-gap: 16px;

            .link-wrapper {
                @include link-wrapper;
            }
        }
    }
}