@import '../../../sass';

.hidden {
    transform: translateY(-100%);
}

.visible {
    transform: translateY(0);
}

.header {
    @include grid-12;
    position: fixed;
    top: 0;
    right: 0;
    bottom: unset;
    left: 0;
    height: $header-height;
    width: 100%;
    padding-block: 8px;
    user-select: none;
    z-index: 999;
    background-color: $header-background;
    transition: transform 0.3s ease-in-out;

    .header-wrapper {
        @include inner-grid-2-2;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        column-gap: 16px;

        .left-container {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }

        .center-container {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
        }

        .right-container {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
    }
}