@import '../../../sass';

.hidden {
    transform: translateY(-100%);
}

.visible {
    transform: translateY(0);
}

.header {
    @include grid-12;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: unset;
    left: 0;
    height: $header-height;
    width: 100%;
    padding-block: 8px;
    user-select: none;
    z-index: 999;
    background-color: $header-background;

    .header-wrapper {
        @include inner-grid-2-2;
        display: grid;
        grid-template-columns: auto 1fr 1.2fr;
        align-items: center;
        column-gap: 8px;
        position: relative;

        .left-container {
            display: flex;
            align-items: center;
            column-gap: 8px;
            height: 100%;

            button {
                background-color: $card-background;

                &:hover {
                    background-color: $card-background;
                }
            }
        }

        .center-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 8px;
            height: 100%;
        }

        .right-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: 8px;
            height: 100%;
            
            .search-service-link {
                max-width: fit-content;
            }
        }
    }
}
