@import '../../sass';

.errorboundary {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: em(8);
    padding: em(16);
    border-radius: em(16);

    h4,
    p {
        color: $error-text-primary;

        span {
            font-weight: 600;
        }
    }

    button {
        max-width: fit-content;
        background-color: transparent;
        padding: 0;

        &:hover {
            background-color: transparent;
        }
    }
}
