@import "../../../sass";

.footer {
    @include grid-12;
    background-color: $footer-background;
    padding-block: em(20);
    height: em(250);

    .inner-grid-2-2 {
        background-color: inherit;
    }
}
