@import '../../../sass';

.lazy-loader {
    @include flex-centre(column);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $background-light;
    color: $text-primary;

    span {
        color: $text-primary;
        font-size: em(16);
        font-weight: 600;
        height: em(24);
        display: flex;
        align-items: center;
        white-space: nowrap;
        text-wrap: nowrap;
        text-transform: capitalize;
    }
}