@import '../../../../sass';

.forgot-password-page {
    @include inner-grid-2-2;
    @include flex-centre(column);
    min-height: $screen-height;

    .form {
        @include flex-centre(column);
        padding: 16px;
        border-radius: 8px;
        background-color: $background-light;
        z-index: 1;
        width: 100%;
        min-width: 0;
        max-width: 300px;
        row-gap: 16px;

        .title {
            text-align: center;
            margin-block: em(8);
            text-transform: lowercase;

            &::first-letter {
                text-transform: capitalize
            }
        }
    }

    .buttons {
        width: 100%;
        max-width: 350px;
        display: flex;
        align-items: center;
        column-gap: em(8);
    }
}
