@import '../../sass';

.index-page {
    @include flex-centre(column);
    min-height: $screen-height;
    padding-bottom: em(16);

    .logo-container {
        aspect-ratio: 1/1;
        width: 100%;
        max-width: 350px;
        overflow: hidden;
    }

    .logo-container img {
        width: inherit;
        height: inherit;
        background-size: contain;
        background-position: center;
        animation: rotateInfinitely 2s infinite;
    }

    @keyframes rotateInfinitely {
        0% {
            transform: rotate(22.5deg);
        }

        50% {
            transform: rotate(-22.5deg);
        }

        100% {
            transform: rotate(22.5deg);
        }
    }

    h1 {
        padding-block: 16px;
        letter-spacing: 0.04em;
        text-align: center;
        max-width: 550px;
    }

    p {
        letter-spacing: 0.04em;
        line-height: 1.5;
        text-align: center;
        width: 100%;
        max-width: 450px;
    }

    .buttons-conatiner {
        @include flex-centre;
        column-gap: 8px;
        height: fit-content;
        width: 100%;
        margin-top: em(16);

        .link {
            max-width: em(250);
            background-color: $button-secondary-background;

            &:hover {
                background-color: $button-secondary-hover;
            }
        }
    }
}