@import '../../sass';

.index-page {
    @include flex-centre(column);
    min-height: $screen-height;
    padding-bottom: em(16);

    .logo-container {
        aspect-ratio: 1/1;
        width: 100%;
        max-width: 350px;
        overflow: hidden;

        img {
            width: inherit;
            height: inherit;
            background-size: contain;
            background-position: center;
            animation: rotateInfinitely 2s infinite;
        }

        @keyframes rotateInfinitely {
            0% {
                transform: rotate(22.5deg);
            }

            50% {
                transform: rotate(-22.5deg);
            }

            100% {
                transform: rotate(22.5deg);
            }
        }

        .img-skeleton {
            height: 100%;
            width: 100%;
            border-radius: 999rem;
        }
    }

    h1 {
        padding-block: 16px;
        letter-spacing: 0.04em;
        text-align: center;
        max-width: 550px;
    }

    .heading-skeleton {
        @include flex-centre;
        flex-direction: column;
        width: 100%;
        max-width: em(550);
        margin-block: em(24);
        row-gap: em(16);

        .skeleton {
            height: clamp(rem(28), rem(16) + 2vw, rem(40));
            width: 100%;

            &:last-child {
                max-width: 50%;
            }
        }
    }

    p {
        letter-spacing: 0.04em;
        line-height: 1.5;
        text-align: center;
        width: 100%;
        max-width: 450px;
    }

    .paragraph-skeleton {
        @include flex-centre;
        flex-direction: column;
        row-gap: em(6);
        width: 100%;
        max-width: em(550);

        .skeleton {
            height: em(16);
            width: 100%;

            &:last-child {
                max-width: 75%
            }
        }
    }

    .buttons-conatiner {
        @include flex-centre;
        column-gap: 8px;
        height: fit-content;
        width: 100%;
        margin-top: em(16);

        .link {
            max-width: em(250);
            background-color: $button-secondary-background;

            &:hover {
                background-color: $button-secondary-hover;
            }
        }
    }

    .buttons-skeleton {
        @include flex-centre;
        column-gap: 8px;
        height: fit-content;
        width: 100%;
        margin-top: em(16);

        .skeleton {
            height: em(40);
            width: 100%;
            max-width: em(250);
            border-radius: 999rem;
        }
    }
}
