/* body  */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: $background-color;
    color: $text-color;
    padding-top: em(64);
}

.login-form, 
.signup-form {
    height: fit-content;
    min-height: calc(100vh - 64px);
}