/* body  */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: $background-light;
    color: $text-primary;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: em(64);
}

.login-form,
.signup-form,
.re-verification-key-form {
    height: fit-content;
    min-height: calc(100vh - 64px);
}

// Google Metrial icon settings
.material-symbols-outlined {
    cursor: default;
    user-select: none;

    @media (pointer: fine) {
        & {
            cursor: pointer;
        }
    }

    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

// Google Metrial icon settings (for fill during some action)
.fill-material-icon,
.fill-icon,
.fill {
    cursor: default;
    user-select: none;

    @media (pointer: fine) {
        & {
            cursor: pointer;
        }
    }

    font-variation-settings: 'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}