html {
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Reset the some default styles */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* 
Desabled the some style during input is autofill, 
For Chrome and other WebKit-based browsers 
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $text-primary;
    -webkit-box-shadow: 0 0 0px 1000px $background-light inset;
    transition: background-color 5000s ease-in-out 0s;
}