h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-block: 0;
    letter-spacing: 0.03em;
    color: $text-color;
}

h1 {
    font-size: clamp(rem(28), rem(16) + 2vw, rem(40));
}

h2 {
    font-size: clamp(rem(22), rem(14) + 1.5vw, rem(36));
    line-height: 1.3;
}


p,
details {
    margin-block: 0;
    font-size: rem(14);
    letter-spacing: 0.03em;
    color: $text-color;
    line-height: 1.5
}

a,
a:visited,
a:active {
    font-size: rem(14);
    text-decoration: none;
    letter-spacing: 0.03em;
    color: $text-color;
    font-weight: 600;
}

a::first-letter {
    text-transform: capitalize;
}

button,
button:visited,
button:active {
    border: none;
}

button::first-letter {
    text-transform: capitalize;
}