html {
    overflow: hidden;
    overflow-y: scroll;
}

/* || RESET */

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    display: none;
}


/* CSS Font Size Variables */
:root {

    /* For Display Text  */
    --display: 4rem;
    --display-height: 44px;

    /* For Heading Text  */
    --heading: 2.813rem;
    --heading-height: 36px;

    /* For Title Text  */
    --title: 1.5rem;
    --title-height: 24px;
    --title-spacing: 0.15px;

    /* For Label Text  */
    --label: 1.125rem;
    --label-height: 16px;
    --label-spacing: 0.5px;

    /* For body Text  */
    --body-m: 0.875rem;
    --body-m-height: 20px;
    --body-m-spacing: 0.25px;

    /* Define Color variables dark mode */
    --background-color: #09090b;
    --text-color: #fff;
    --header-background: #f0f0f0;
    --sidebar-background: #21252b;
    --footer-background: #f0f0f0;
    --hover-color: #009141;

    /* Define Color variables light mode */
    --background-color: #ffffff;
    --text-color: #000000;

}


@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --text-color: #000000;
    }
}


/* @media (prefers-color-scheme: dark) {
    :root {
        --background-color: #09090b;
        --text-color: #fff;
        --header-background: #3333338d;
        --sidebar-background: #32343a;
        --footer-background: #3333336d;
    }
} */


input,
button {
    font-family: Arial, Helvetica, sans-serif;
}


/* body  */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}


/* Main Container Styles */
#root {
    position: relative;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    overflow-y: scroll;
}


/* Protect Link OverFlow during Click.  */
.protect--overflow {
    display: flex;
    overflow: hidden;
    width: fit-content;
}


/* Default react page styles */
.App {
    user-select: none;
    grid-column: 2/3;
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - 4rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App h2 {
    color: var(--hover-color);
    text-align: center;
}