/* Roboto Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Poppins Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* CSS Font Size Variables */
:root {

  /* For Display Text  */
  --display: 4rem;
  /* 64px */
  --display-height: 44px;

  /* For Heading Text  */
  --heading: 2.813rem;
  /* 45px */
  --heading-height: 36px;

  /* For Title Text  */
  --title: 1.25rem;
  /* 20px */
  --title-height: 24px;
  --title-spacing: 0.15px;

  /* For Label Text  */
  --label: 1.125rem;
  /* 18px */
  --label-height: 16px;
  --label-spacing: 0.5px;

  /* For body Text  */
  --body-m: 0.875rem;
  /* 14px */
  --body-m-height: 20px;
  --body-m-spacing: 0.25px;

  /* Define Color variables */
  --bg: #282c34;
  --text-color: #fff;
  --header-bg: #394250;
  --footer-bg: #394250;
  --logo-text-color: #009141;
  --small-sidebar-bg: #394250;
}


input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}


/* body  */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}


/* Main Container Styles */
#root {
  position: relative;
  width: 100%;
  background-color: var(--bg);
  overflow: hidden;
  overflow-y: scroll;
}


/* Protect Link OverFlow during Click.  */
.protect--overflow {
  display: flex;
  overflow: hidden;
  width: fit-content;
}






/* Default react page styles */

.App {
  width: 100%;
  grid-column: 2/3;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}