.header {
    background-color: transparent;
    color: var(--text-color);
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}


/* Header Left Section Styles  */
.header .left-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.left-container .logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    text-decoration: none;
}


.logo-link .logo-text {
    font-size: var(--title);
    letter-spacing: var(--title-spacing);
    color: var(--hover-color);
}


/* Right Container Styles  */
.header .right-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header .right-container * {
    color: var(--text-color);
}


.right-container .links-container {
    display: flex;
    align-items: center;
    column-gap: 16px;
}


@media (width <=1024px) {
    .right-container .links-container {
        display: none;
    }
}


.right-container .links-container * {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--label);
    letter-spacing: var(--label-spacing);
}


.right-container .links-container a {
    padding-block: 2px;
    transition: color 0.3s ease-in-out;
}


.right-container .links-container a:hover {
    color: var(--hover-color);
}


/* Menu Continer Style  */
.right-container .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-container .menu {
    height: 28px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}


@media (width > 1024px) {
    .menu-container .menu {
        display: none;
    }
}


.menu .menu-line {
    position: relative;
    background-color: var(--text-color);
    width: 100%;
    height: 3px;
    border-radius: 999rem;
    transition: background-color 0.3s ease-in-out;
}


.menu .menu-line::before,
.menu .menu-line::after {
    position: absolute;
    content: '';
    background-color: var(--text-color);
    width: 100%;
    height: 3px;
    border-radius: 999rem;
    transition: transform 0.3s ease-in-out;
}


.menu .menu-line::before {
    transform: translateY(-8px);
}


.menu .menu-line::after {
    transform: translateY(8px);
}


/* Style for active side-bar click menu icon. */
.menu .active-0 {
    background-color: transparent;
}


.menu .active-1::before {
    transform: rotate(-45deg);
    background-color: var(--hover-color);
}


.menu .active-2::after {
    transform: rotate(45deg);
    background-color: var(--hover-color);
}


/* Small menu styls  */
.small-menu-container {
    position: fixed;
    background-color: var(--sidebar-background);
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100%;
    max-width: 240px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}


.small-menu-container .menu-container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 24px;
}


/* Style for active side-bar */
.active-small-menu {
    transform: translateX(0%);
    z-index: 50;
}


.small-menu-container * {
    user-select: none;
    color: var(--text-color);
}


.small-menu-container .links-container {
    padding-block: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1.5px solid #0000003d;
}


.small-menu-container .links-container a {
    padding: 8px 16px;
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: var(-label);
    letter-spacing: var(--label-spacing);
    transition: color 0.3s ease-in-out;
}


.small-menu-container .links-container a:hover {
    background-color: var(--hover-color);
}


.bg-sidebar {
    position: fixed;
    background-color: #000000dc;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
}