.header {
    background-color: transparent;
    color: var(--text-color);
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
}


/* Header Left Section Styles  */
.header .left--container {
    display: flex;
    align-items: center;
    column-gap: 8px;
    z-index: 100;
}


.logo--figure--container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.logo--figure--container a {
    height: 38px;
    width: 38px;
    text-decoration: none;
}


.logo--figure--container a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


.left--container .logo--title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    letter-spacing: 0.03em;
    white-space: nowrap;
    text-wrap: nowrap;
}


.left--container .logo--title span:last-child {
    color: var(--hover-color);
}


/* Right Container Styles  */
.header .right--container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}


.header .right--container * {
    color: var(--text-color);
}


.right--container .links--container {
    display: flex;
    align-items: center;
    column-gap: 16px;
}


@media (width <=1024px) {
    .right--container .links--container {
        display: none;
    }
}


.right--container .links--container * {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--label);
    letter-spacing: var(--label-spacing);
}


.right--container .links--container a {
    padding-block: 2px;
    transition: color 0.3s ease-in-out;
}


.right--container .links--container a:hover {
    color: var(--hover-color);
}


/* Menu Continer Style  */
.right--container .menu--container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu--container .menu {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}


@media (width > 1024px) {
    .menu--container .menu {
        display: none;
    }
}


.menu .menu--line {
    position: relative;
    background-color: var(--text-color);
    width: 100%;
    height: 4px;
    border-radius: 999rem;
    transition: background-color 0.3s ease-in-out;
}


.menu .menu--line::before,
.menu .menu--line::after {
    position: absolute;
    content: '';
    background-color: var(--text-color);
    width: 100%;
    height: 4px;
    border-radius: 999rem;
    transition: transform 0.3s ease-in-out;
}


.menu .menu--line::before {
    transform: translateY(-12px);
}


.menu .menu--line::after {
    transform: translateY(12px);
}


/* Style for active side-bar click menu icon. */
.menu .active--0 {
    background-color: transparent;
}

.menu .active--1::before {
    transform: rotate(-45deg);
}

.menu .active--2::after {
    transform: rotate(45deg);
}


/* Small menu styls  */
.small--menu--container {
    position: absolute;
    background-color: var(--sidebar-background);
    width: 100%;
    height: 100vh;
    padding: 16px;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}


/* Style for active side-bar */
.active--small--menu {
    transform: translateX(0%);
    z-index: 50;
}


.small--menu--container * {
    user-select: none;
    color: var(--text-color);
}


.small--menu--container .small--menu--wrapper {
    width: 100%;
    padding-top: 2rem;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 100;
}


.small--menu--container .links--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    row-gap: 16px;
}


.small--menu--container .links--container a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--label);
    letter-spacing: var(--label-spacing);
    transition: color 0.3s ease-in-out;
}


.small--menu--container .links--container a:hover {
    color: var(--hover-color);
}