@import '../../../sass';

.search-bar {
    background-color: $card-background;
    height: 100%;
    width: 100%;
    max-width: em(550);
    display: flex;
    align-items: center;
    column-gap: em(8);
    padding-inline: em(16) 0;
    border-radius: 999rem;
    border: $border;
    transition: all 0.3s ease;

    .search-input {
        height: 100%;
        width: 100%;
        min-width: 0;
        min-height: 100%;
        background-color: transparent;
    }

    .button-as-icon {
        background-color: transparent;

        &:hover {
            background-color: $border-color-light;
        }
    }
}
