@import '../../../sass';

.search-bar {
    background-color: transparent;
    height: em(40);
    width: 100%;
    max-width: em(550);
    display: flex;
    align-items: center;
    column-gap: em(8);
    transition: all 0.3s ease;

    .search-input {
        background-color: $card-background;
        height: 100% ;
        width: 100%;
        min-width: 0;
        min-height: 100%;
        padding: em(8) em(16);
        border-radius: 999rem;
        border: $border;
    }

    .button-as-icon {
        background-color: $card-background;

        &:hover {
            background-color: $border-color-light;
        }
    }
}
